@inject IProductService ProductService
@implements IDisposable

@if (ProductService == null || ProductService.Products.Count == 0)
{
    <span>Loading products ...</span>
}
else
{
    <MudList Clickable="true">
        @foreach (var product in ProductService.Products)
        {
            <MudListItem>
                <Product Id="@product.Id"
                         Title="@product.Title"
                         Description="@product.Description"
                         ImageUrl="@product.ImageUrl"
                         Price="@product.Price" />
            </MudListItem>
        }
    </MudList>
}

@code {
    protected override void OnInitialized()
    {
        ProductService.OnProductsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ProductService.OnProductsChanged -= StateHasChanged;
    }
}
